#no-mobile {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(254deg, #28caa0, #2881ca, #7cbbee, #c7dbea);
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
